{% extends 'Diary/index.html'%}
{% load crispy_forms_tags %}
{% block content %}

<style>

    .btn{
	background-color: #1abc9c; /* Dark Blue */
    color: #ffffff;
    }

    .pass{
     color: #333;
    }

    form ul li{list-style-type:none;}

</style>

<div class="container-fluid pass text-center">
<h2>Change Your Password</h2>
    <div>
        {% for messages in messages %}
        <h4 style="color:red;">{{messages}}</h4>
        {% endfor %}
    </div>
<form method="post">
    {% csrf_token %}
    {{ form.as_p}}
    <button type="submit" class="btn ">Change Password</button>

</form>
</div>
{% endblock %}
