
{% extends 'Diary/index.html'%}
{% load static%}
{% block content %}


  <div class="container-fluid bg-3 text-center">

      <h2 class="mb-5 font-weight-bold">Owner & Developer of MyDiary</h2>

      <h3 class="mt-4 font-weight-medium mb-0"><i class="fas fa-user"></i> Suman Kumari</h3>
      <h3 class="subtitle"><i class="fas fa-graduation-cap"></i> MCA (tyc)6th SEM</h3>
      <h3 class="subtitle"><i class="fab fa-github"></i> SumanKumari786</h3>
      <h3 class="subtitle"><i class="fas fa-envelope"></i> kumarisuma461@gmail.com</h3>
      <h3><i class="fas fa-school"></i> ASSM COLLEGE MUKANDPUR</h3>

  </div>
{% endblock %}
