{% extends 'Diary/index.html'%}
{% load static%}
{% block content %}

<style>

    .help li {list-style-type:none;}

    .btn{
	background-color: #1abc9c; /* Dark Blue */
    color: #ffffff;
    }

</style>


<section>
  <div class="container-fluid  text-center">
    <div class="login-form mt-0">
    {% if validlink %}
      <h1 style="color:#333;">Change Password</h1>
      <form method="post">
          {% csrf_token %}
          <input type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1" placeholder="NewPassword" style="color:#333;">
          <div class="help">
              <ul style="color:#333;">
                  <li>Your password can’t be too similar to your other personal information.</li>
                  <li>Your password must contain at least 8 characters.</li>
                  <li>Your password can’t be a commonly used password.</li>
                  <li>Your password can’t be entirely numeric.</li>
              </ul>
          </div>
          <input type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2" placeholder="PasswordConfirmation:" style="color:#333;">
          <br/><input type="submit" value="Change my password" class="btn">
      </form>
    </div>
  </div>
</section>
     {% else %}
          <h1 class="alert-heading" style="color:#333;"><u>Invalid link!</u></h1>
          <h4 style="margin-bottom:4%; color:#333;">
              The password reset link was invalid, possibly because it has already been used.
              Please request a new password reset.
          </h4>
     {% endif %}
{% endblock %}
