{% extends 'Diary/index.html'%}
{% block content %}
<style>
  .maindiv {
    width: 100%;
    margin-top: 10%;
    text-align: center;
    color:#333;
  }

  #a{
     text-decoration: none;
     font-size: 20px;
     border: none;
     border-bottom: 3px solid green;
     border-radius: 4px;
     cursor: pointer;
     text-transform: uppercase;
     font-weight: bold;
     margin-bottom: 2%;
  }

</style>


<div class=" maindiv mt-5 mb-5" >
  <h1>Password Reset Successfully</h1>
  <h4>
    Your password has been set. You may go ahead and  now.
  </h4>
  <strong><a href="/login" id="a" class="btn btn-success">login</a></strong>
</div>
{% endblock %}
