{% extends 'Diary/index.html'%}
{% load static%}
{% block content %}

<style>

  .btn{
	background-color: #1abc9c; /* Dark Blue */
    color: #ffffff;
    }

</style>


<section style="color: #333;">
  <div class="container-fluid my-5 text-center">
    <div class="login-form">
      <h1 id="head1">Forget Password</h1>
      <form method="post">
        {% csrf_token %}
        <input type="email" name="email" placeholder=" Email " required/><br/>
        <input type="submit" value="Request Reset Password" class="btn" />
      </form>
    </div>
  </div>
</section>
{% endblock %}

