{% extends 'Diary/index.html'%}
{% load static%}
{% block content %}
<div class="container" style="color: #333;">
<h1>Public Diaries</h1>
	<div>

		{% for post in posts %}
			{% if post.status == "public" %}
			<h3 style="color:#2e4ead;">    <a href="{% url 'post_detail' post.id%}" >{{post.title}}</a></h3>
			<h3><u>content</u>:    <span>{{post.content| truncatechars:146}}</span></h3>
		    <h3><a href="/Diary/{{post.slug}}" class="btn btn-primary">Continue Reading</a></h3>
			<hr>
			{% endif %}
		{% endfor %}

		{% if is_paginated %}

			{% if page_obj.has_previous %}
				<a href="?page=1" class="btn btn-primary">First</a>
				<a href="?page={{ page_obj.previous_page_number}}" class="btn btn-primary">Previous</a>
			{% endif %}

			{% for num in page_obj.paginator.page_range %}
				{% if page_obj.number == num %}
					<a href="?page={{ num }}" class="btn btn-primary">{{ num }}</a>
				{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
					<a href="?page={{ num }}" class="btn btn-primary">{{ num }}</a>
				{% endif %}
			{% endfor %}

			{% if page_obj.has_next %}
				<a href="?page={{ page_obj.next_page_number}}" class="btn btn-primary">Next</a>
				<a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-primary">Last</a>
			{% endif %}

		{% endif %}
	</div>
</div>
{% endblock %}

